body{
    background-image: url(https://pbs.twimg.com/profile_images/563843814725402624/Vb8k670S.png);
    background-size: 70px;
}
body1{
    background-image: url(https://mind-exchange.com/wp-content/uploads/2015/06/YEEZUS-GLASTONBURY-LOGO-Kanye-West.jpg);
    background-size: 70px;
}

h1{
    text-align: center;
    padding: 5px;
}
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
    
}

ul#menu li a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
}

ul#menu li a:hover {
    background-color: lightslategray;
    padding-bottom: .5px;
}
#sidebar
{
    float: left;
    min-height: 250px;
    background-color: white;
    padding-left: 5px;
}
#sidebar li a:hover {
    background-color: lightgrey;
}

#gallery{
    margin:0;
    padding:0;
    list-style: none;
    display: inline;
}
    
    #gallery li{
    float: left;
    width: 20%;
    margin: 2%;  
    background-color: white;
}
#gallery1 li{
    float: right;
    width: 20%;
    margin: 2%;  
    background-color: white;
}

#gallery li a p{
    margin: 0;
    padding: 2%;
    font-size: 0.75em;
    color: blue;
}
